.center {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fa-edit {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}

a:visited {
    margin-right: 10px;
}

.col-sm-3 {
    margin: 5px 5px 5px 5px;
}

.chatroom-users {
    width: 64px;
    height: 64px;
}

#messages {
    height: 300px;
    overflow-y: scroll;
}

.right {
    float: right;
}

.singles-icons {
    margin-top: 5px;
}

#main-body{
    margin-top: 60px;
    margin-bottom: 60px;
}

.payment {
    background-color: black;
    color: aliceblue;
    margin: 5px;
    padding: 10px;
    border: 2px solid red;
}